<div class="row">
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Calculate Employee Payroll</span>
        <%= form_with url: employee_payroll_path, method: :get do |form| %>
          <%#= f.error_notification %>
          <div class="row">
            <div class="form-inputs">
              <div>
                <%= form.label :employee_id %>
                <%= form.collection_select :employee_id, Employee.alphabetical.active.regulars, :id, :name, prompt: true %>
              </div>
              <div>
                <%= form.label :start_date %>
                <%= form.date_field :start_date %>
              </div>
              <div>
                <%= form.label :end_date %>
                <%= form.date_field :end_date %>
              </div>
            </div>
          </div>
          </div>
          </div>
          <div class="row">
            <div class="form-actions col s9">
              <%= form.submit "Calculate" %>
            </div>
          </div>
        <% end %>
        </div>
</div>
<%= link_to 'Back', :back %>
