<div class="row">
  <% if current_user.nil? %>
    <h4>Welcome to Cafe23 Management System! Please login and continue.</h4>
  <% else %>
    <h4><%= "Welcome to Cafe23 Management System, " + current_user.proper_name + "!" %></h4>
  <% end %>

  <div class="col s9">
    <div class="carousel">
      <a class="carousel-item" href="#one"><%= image_tag 'barista1.jpeg' %></a>
      <a class="carousel-item" href="#two"><%= image_tag 'cafe1.jpeg' %></a>
      <a class="carousel-item" href="#three"><%= image_tag 'cake1.jpeg' %></a>
      <a class="carousel-item" href="#four"><%= image_tag 'coffee beans.jpeg' %></a>
    </div>
    <div class="card">
      <div class="card-content">
        <p>Welcome to the Cafe23, which is a brain child of Prof. H. Here
          we provide management service to Cafe23's stores, employees, and
          job assignments. More specifically, this instance is implemented
          by Tianze (Steven) Shou. Please login to proceed.
        </p>
      </div>
    </div>
  </div>
</div>
