<h4>Upcoming Shifts</h4>

<table class="striped highlight">
  <thead>
  <th>Date</th>
  <th>Assignee</th>
  <th>Location</th>
  <th>Status</th>
  <th>Start Time</th>
  <th>End Time</th>
  <th class="center-align">Options</th>
  </thead>
  <% for shift in @upcoming_shifts %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%= humanize_date(shift.date) %></td>
      <td><%= link_to shift.employee.name, employee_path(shift.employee) %></td>
      <td><%= link_to shift.store.name, store_path(shift.store) %></td>
      <td><%= shift.status %></td>
      <td><%= humanize_time(shift.start_time) %></td>
      <td><%= humanize_time(shift.end_time) %></td>
      <td class="center-align">
      <% if can? :show, shift %>
        <%= link_to shift_path(shift) do %>
          <i class="material-icons">zoom_in</i>
        <% end %>
      <% end %>
      </td>

    </tr>
  <% end %>
</table>
<p class="supertiny"></p>
<br />
<%= will_paginate @upcoming_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<p>&nbsp;</p>
<%= render :partial => "partials/add_new_object", locals: {model_name: 'shift'} %>

<br /><br /><br />

<h4>Completed Shifts</h4>

<table class="striped highlight">
  <thead>
  <th>Date</th>
  <th>Assignee</th>
  <th>Location</th>
  <th>Start Time</th>
  <th>End Time</th>
  <th>Job(s)</th>
  <th class="center-align">Options</th>
  </thead>
  <% for shift in @completed_shifts %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%= humanize_date(shift.date) %></td>
      <td><%= link_to shift.employee.name, employee_path(shift.employee) %></td>
      <td><%= link_to shift.store.name, store_path(shift.store) %></td>
      <td><%= humanize_time(shift.start_time) %></td>
      <td><%= humanize_time(shift.end_time) %></td>

      <% if shift.jobs.empty? %>
        <td>None</td>
      <% else %>
        <td><%= shift.jobs.map{|j| j.name}.join(', ') %></td>
      <% end %>

      <td class="center-align">
      <% if can? :create, ShiftJob %>
        <%#= link_to "Add job", new_shift_job_path(shift_id: shift.id) %>
        <%= link_to new_shift_job_path(shift_id: shift.id) do %>
          <i class="material-icons">add_task</i>
        <% end %>
      <% end %>
      &nbsp;&nbsp;
      <% if can? :show, shift %>
        <%= link_to shift_path(shift) do %>
          <i class="material-icons">zoom_in</i>
        <% end %>
      <% end %>
      </td>

    </tr>
  <% end %>
</table>
<p class="supertiny"></p>
<br />
<%= will_paginate @completed_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<p>&nbsp;</p>