<h4>Your Upcoming Shifts</h4>

<table class="striped highlight">
  <thead>
  <th>Date</th>
  <th>Status</th>
  <th>Start Time</th>
  <th>End Time</th>
  <th>Job(s)</th>
  <th>Notes</th>
  <th class="align_center">Option(s)</th>
  </thead>
  <% for shift in @upcoming_shifts %>
    <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
      <td><%= humanize_date(shift.date) %></td>
      <td><%= shift.status %></td>
      <td><%= humanize_time(shift.start_time) %></td>
      <td><%= humanize_time(shift.end_time) %></td>

      <% if shift.jobs.empty? %>
        <td>None</td>
      <% else %>
        <td><%= shift.jobs.map{|j| j.name + " "}.join(',') %></td>
      <% end %>

      <td><%= shift.notes %></td>

      <td class="align_center">
        <% if shift.date == Date.current %>
          <% if shift.status == 'pending' %>
            <%= link_to time_in_path, method: :patch do %>
              <i class="material-icons">alarm_on</i>
            <% end %>
          <% elsif shift.status == 'started' %>
            <%= link_to time_out_path, method: :patch do %>
              <i class="material-icons">alarm_off</i>
            <% end %>
          <% end %>&nbsp;&nbsp;
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<p class="supertiny"></p>
<br />
<%= will_paginate @upcoming_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<p>&nbsp;</p>
